* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

header{
  margin-bottom: 100px;
}
.parallax {
  width: 100vw;
  height: 100vh;
}

.flechas {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* justify-content: center; */
  flex-direction: column;

  align-content: center;
}
.flecha{
  margin: 0 auto;
  position: relative;
  z-index: 40;
  font-size: 50px;
  color: #fff;
}

.flecha:nth-child(1) {
  animation: fadeInOut 3s infinite;
}

.flecha:nth-child(2) {
  animation: fadeInOut 3s infinite;
  animation-delay: 0.8s;
}

.flecha:nth-child(3) {
  animation: fadeInOut 3s infinite;
  animation-delay: 1.4s;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.Imagen {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-size: cover;
  background-position: center;
  filter: brightness(0.75);
}

.imagenCielo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
  background-image: url("img/cielo2.png");
  z-index: 1;
}

.imagenMontania {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/Montania.png");
  z-index: 2;
}

.tituloBanner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Bubblegum Sans", sans-serif;
  z-index: 20;
  font-size: 200px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.tituloBanner:nth-child(2) {
  left: 49%;
  z-index: 80;
  color: #000;
}

.tituloBanner:nth-child(3) {
  z-index: 100;
  color: #ff8b20;
}

.nav {
  display: flex;
  justify-content: center;
  overflow-y: hidden;
  align-items: center;
  position: relative;
  height: 3.8rem;
  z-index: 5;
  background-color: #121217;
}

.nav a {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  padding: 1rem 5rem;
  color: #c7c7c7;
  border-radius: 20px;
  text-decoration: none;
}

.nav a:nth-child(3) {
  color: white;
  background-color: #0094ff;
  border-radius: 20px;
}

.nav a:nth-child(3):hover {
  color: #0094ff;
  background-color: white;
  border-radius: 20px;
}

.nav a:hover {
  color: rgb(235, 235, 235);
  background-color: #000;
}

.nav a i {
  font-size: 1em;
}

.conditionalLink {
  padding: 15px 16px;
}

.navActive {
  background-color: #363636;
}

/*Index escritorio*/
.contenedorIndex {
  margin: 1em 2em 0 2em;
}
/*
.index_separte{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  margin-top: 200px;
}

.index_separte h1{
  font-size: 80px;
    color: orange;
}
.index_separte h2{
  font-size: 25px;
    color: #ffd78e;
}
.index_separte a{
  margin-top: 40px;
  font-size: 30px;
  text-decoration: none;
  color: white;
  background: #0094ff;
  padding: 20px;
  border-radius: 50px;
  cursor: pointer;
}

.index_separte a:hover{
  background-color: white;
  color: #0094ff;
}

*/
.que_es_forestaton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.que_es_forestaton h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  color: #ffb038;
  text-shadow: -2px -2px 0 #fcff52, 2px -2px 0 #fcff52, -2px 2px 0 #fcff52, 2px 2px 0 #fcff52, 0 0 2px #fcff52;
  margin-bottom: 30px;
}
.descripcion_logo {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
}
.descripcion_logo img {
  margin: 0 auto;
  height: 20em;
  width: 24rem;
}
.descripcion_logo p {
  overflow-y: hidden;
  background: #0e0e13;
  /* width: auto; */
  /* height: auto; */
  margin: 0 0rem 0 1.5rem;
  font-size: 1.6em;
  height: 308px;
  width: 50%;
  color: orange;
  padding: 1em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  text-indent: 4px;
}
.forestaton_descripcion {
  display: block;
}

/*Fin Index escritorio*/

/*Nuevo slider*/
.imagen_cifras {
  height: 640px;
  background-image: url("img/ciudades_noticia.png");
  background-size: cover;
  position: relative;
}

.cifras_forestaton {
  display: block;
    margin: 0.2em auto 0 auto;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 80px;
    color: #ffb038;
    text-shadow: -2px -2px 0 #fcff52, 2px -2px 0 #fcff52, -2px 2px 0 #fcff52, 2px 2px 0 #fcff52, 0 0 2px #fcff52;
    margin-bottom: 30px;
}
.flechas_y_estadistica {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 550px;
  align-items: center;
  padding: 20px;
}

.flechas_y_estadistica .estadistica {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 48px;
}

.flechas_y_estadistica i {
  color: white;
  cursor: pointer;
  font-size: 48px; /* Ajusta el tamaño del icono según sea necesario */
}

.imagen_posicion {
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.imagen_posicion i {
  margin: 0 5px;
  cursor: pointer;
  color: white;
  font-size: 30px;
}

.imagen_posicion .activo {
  color: #d8801b;
}

/*fin nuevo slider*/

/*Inicio Se Parte*/


/*Fin Se Parte*/
/*Voluntarios*/
.contenedorFormVoluntariado {
  width: 800px;
  height: 500px;
  background-color: #121217;
  border-radius: 5px;
  position: relative;
  color: #ba822e;
  overflow: hidden;
  margin: 0 auto;
}

.introduccionform {
  padding-top: 20px;
  color: #d0d0d0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}
.introduccionform h1 {
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  color: #ffb038;
  text-shadow: -2px -2px 0 #fcff52, 2px -2px 0 #fcff52, -2px 2px 0 #fcff52,
    2px 2px 0 #fcff52, 0 0 2px #fcff52;
  margin-bottom: 20px;
  padding-top: 10px;
}
.introduccionform h2 {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  color: #ffbe5e;
  margin-bottom: 20px;
}
.introduccionform p {
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
  font-size: 32px;
}
.contenedorFormVoluntariado h3 {
  text-align: center;
  font-size: 42px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  color: #ffbe5e;
}
.contenedorFormVoluntariado form {
  background-color: #121217;
  border-radius: 30px;
  width: 760px;
  position: absolute;
  margin: 0 auto;
  left: 40px;
  top: 100px;
  transition: 0.5s;
}
form input {
  width: 700px;
  padding: 10px 5px;
  border: 0;
  font-size: 32px;
  border-bottom: 1px solid #f1aa57;
  outline: none;
  background: transparent;
  color: #f2901e;
  transition: background-color 0.5s ease;
}
.error-input{
  background-color: darkred;
  border-radius: 30px;
  animation: shake 0.5s;
  animation-timing-function: ease-in-out;
}
@keyframes shake{
  0%{transform: translateX(0);}
  25%{transform: translateX(-5px);}
  50%{transform: translateX(5px);}
  75%{transform: translateX(-5px);}
  100%{transform: translateX(0px);}
}
.btnForm {
  width: 100%;
  margin: 30px auto;
  text-align: center;
  background-color: #121217;
}
form button {
  overflow-y: hidden;
  padding: 2px;
  width: 180px;
  height: 40px;
  margin: 0 10px;
  font-size: 32px;
  background: linear-gradient(to right, #f1aa57, #f2901e);
  border-radius: 30px;
  border: 0;
  outline: none;
  color: #121217;
  cursor: pointer;
}
#form2 {
  left: 800px;
}
#form3 {
  left: 800px;
}
.step-row {
  width: 360px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border-radius: 30px;
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
}
.step-col {
  width: 120px;
  text-align: center;
  position: relative;
  font-size: 20px;
}
#progreso {
  position: absolute;
  height: 100%;
  width: 120px;
  border-radius: 30px;
  background: linear-gradient(to right, #f1aa57, #f2901e);
  transition: 1s;
}

#form3 input[type="radio"] {
  display: none;
}
#form3 label {
  font-size: 20px;
  border: 1px solid #f2901e;
  border-radius: 30px;
  padding: 10px;
  margin: 8px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
#form3 label:before {
  content: "";
  height: 30px;
  width: 30px;
  border: 2px solid #f2901e;
  border-radius: 50%;
  margin-right: 20px;
}
#form3 input[type="radio"]:checked + label {
  background-color: #f1aa57;
  color: #cf6300;
}
#form3 input[type="radio"]:checked + label:before {
  height: 16px;
  width: 16px;
  border: 8px solid #ff8412;
}
body {
  background-color: #0e0e13;
}

/*Pagina Noticias*/
.noticias{
  margin-bottom: 30px;
}
.contenedor_agregar_noticia {
  display: none;
  justify-content: center;
}
.agregar_noticia {
  background: #f2c066;
  padding: 12px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  width: fit-content;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.btnN{
  cursor: pointer;
  border-radius: 14px;
  background-color: #0eda3a;
  padding: 0.2em;
  color: white;
  font-size: 24px;
}

.noticias_titulo {
  
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  color: #ffb038;
  text-shadow: -2px -2px 0 #fcff52, 2px -2px 0 #fcff52, -2px 2px 0 #fcff52,
    2px 2px 0 #fcff52, 0 0 2px #fcff52; /* Ajuste para asegurar el contorno */
}
.buscador {
  margin: 0 auto;
  margin-top: 30px;
  width: max-content;
  height: max-content;
  display: flex;
  background: white;
  border-radius: 20px;
}
.buscador_input {
  width: 550px;
  font-size: xx-large;
  background: #5f9ea000;
  border: solid white;
  outline: none;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
}
.lupa {
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  height: 41px;
  opacity: 50%;
}
.noticia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}
.img_noticia {
  width: 400px;
  height: 400px;
  background: aliceblue;
  overflow: hidden;
  border-radius: 10px;
  border: solid orange;
}
.img_noticia img {
  max-block-size: -webkit-fill-available;
  overflow: hidden;
}
.contenido_noticia {
  display: block;
  /*background: #2a2a2a;*/
  height: 400px;
  width: 650px;
  margin-left: 50px;
}
.titulo_noticia {
  width: 650px;
}
.titulo_noticia h1 {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  color: #ffbe5e;
  padding: 2px;
}
.resumen_noticia {
  /*height: 350px;*/
  width: 650px;
  background: bottom;
}
.resumen_noticia h1 {
  margin-top: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  color: #d0d0d0;
  padding: 2px;
}
.leer_mas {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  color: #0094ff;
  padding: 2px;
}
.fa-solid,
.fas {
  font-weight: 900;
  overflow: hidden;
  margin-right: 5px;
}
.fecha_noticia {
  margin-top: 10px;
  color: #898989;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}
.error_noticia {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 100px;
  color: #ff6060;
  margin-top: 100px;
}



.noticia_detalles {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.noticia_detalles .img_noticia {
  width: 870px;
  height: 900px;
  background: aliceblue;
  overflow: hidden;
  border: solid orange;
}

.resumen_noticia p {
  margin-top: 50px;
}

.noticia_detalles .resumen_noticia {
  width: 870px;
}

.noticia_header {
  display: flex;
  margin-top: 100px;
  margin-bottom: 35px;
  width: 53%;
  /* flex-direction: row; */
  justify-content: space-evenly;
}

/*Modal noticias*/
.modal_noticias {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content_noticia label {
  color: white;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.modal-content_noticia form button {
  margin: 0 10px;
  background: linear-gradient(to right, #f1aa57, #f2901e);
  border-radius: 30px;
  border: 0;
  outline: none;
  color: #20180c;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  width: fit-content;
  height: fit-content;
}

.modal-content_noticia input {
  width: 700px;
  padding: 10px 16px;
  /* margin: 14px 0; */
  border: 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom: 2px solid #f1aa57;
  outline: none;
  background: transparent;
  color: #f2901e;
  margin-bottom: 40px;
}

.modal-content_noticia textarea {
  width: 700px;
  height: 203px;
  padding: 10px;
}

.modal-content_noticia {
  background-color: #0e0e13;
  margin: 6% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
#descripcion {
  display: block;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dark {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
/*Fin modal noticias*/

/*Fin Pagina Noticias*/

/*Pagina eventos*/
.contenedor_eventos {
  text-align: -webkit-center;
}
.agregar_evento {
  text-align: center;
  background: #f2c066;
  font-size: x-large;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  width: fit-content;
  border-radius: 20px;
  margin-top: 30px;
    
      color: white;
}
.titulo_evento {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  color: #ffb038;
  margin-top: 50px;
}
.eventos_titulo {
  padding-top: 30px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  color: #ffb038;
  text-shadow: -2px -2px 0 #fcff52, 2px -2px 0 #fcff52, -2px 2px 0 #fcff52,
    2px 2px 0 #fcff52, 0 0 2px #fcff52;
}
.ubicacion_horario {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.ubicacion {
  display: block;
  background: #323232;
  /* padding: 70px; */
  width: 310px;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: solid 2px gray;
}
.ubicacion i {
  font-size: 150px;
  color: white;
}
.ubicacion a {
  color: #0094ff;
  display: block;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  margin-top: 40px;
}
.horario {
  display: block;
  /* background: #d2d2d2; */
  background: #323232;
  /* padding: 70px; */
  width: 310px;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
  border-top-right-radius: 20px;
  border-left: solid 2px gray;
  border-bottom-right-radius: 20px;
}
.horario h2 {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  color: #c6c6c6;
}
.horario i {
  font-size: 150px;
  color: white;
  margin-bottom: 10px;
}
.borrar_evento {
  font-size: 50px;
  height: min-content;
  margin-left: 10px;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  /* text-align: center; */
  justify-content: center;
}
.borrar_evento h2 {
  text-align: center;
  background: #ff6767;
  font-size: x-large;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
}
.enviar_voluntarios {
  display: flex;
  justify-content: center;
  color: white;
}
.enviar_voluntarios h2 {
  text-align: center;
  background: #f2c066;
  font-size: x-large;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

/*Modal eventos*/
/* Estilos para el modal */
body .modal-open {
  overflow: hidden;
}

.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*fin modal Eventos*/
/*Fin Pagina eventos*/

/*Inicio Pagina LogIn*/

.cienvehache {
  align-content: center;
  margin-bottom: 140px;
}

.loginDiv {
  display: flex;
  flex-direction: column;
  width: 29%;
  margin: 0 auto;
  align-content: center;
  color: rgb(233, 232, 232);
}

.loginDiv img {
  display: block;
  margin: 0 auto;
  width: 350px;
  height: 290px;
}

.loginDiv input {
  display: block;
  margin: 0 auto 10px auto !important;
  padding: 0 8px;
  border-radius: 6px;
  width: 20rem;
  height: 2.5rem;
  margin: 2px 0 9px 0;
}

.loginDiv h5 {
  margin: 4px auto 0 auto;
}

.loginDiv h5 span {
  font-size: larger;
  color: #00dcf9cb;
}

.loginDiv label {
  display: block;
  margin: 1rem auto 4px auto;
  width: 20rem;
}

.loginDiv h5 span:hover {
  cursor: pointer;
  color: #008496;
}

.loginDiv button {
  background-color: #ffcb65;
  border-radius: 6px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  height: 35px;
  width: 20rem;
  margin: 0.8rem auto 0 auto;
}

.loginDiv button:hover {
  cursor: pointer;
  background-color: #c59d4d;
}

.incorrecto{
  width: 700px;
  padding: 10px 5px;
  margin: 5px 0;
  border: 0;
  font-size: 32px;
  border-bottom: 1px solid #ff0000;
  outline: none;
  background: transparent;
  color: #f52703;
}

.correcto{
  width: 700px;
  padding: 10px 5px;
  margin: 5px 0;
  border: 0;
  font-size: 32px;
  border-bottom: 1px solid #0eda3a;
  outline: none;
  background: transparent;
  color: #17f503;
}
/*Fin Pagina LogIn*/

footer {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
}

.redes {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  overflow: hidden;
}

.texto {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.horizontal {
  width: 100%;
}

.horizontal div {
  margin: 6rem auto 0 auto;
  border-bottom: solid 1px grey;
  width: 80%;
  height: 50px;
}

footer {
  padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 10px;
    padding: 0 5rem;
    margin-top: 100px;
    border-top: solid 1px grey;
}



.redes {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.texto {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-around;
  color: rgb(238, 238, 238);
  margin: 0 1rem;
}

footer img {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
  display: flex;
  width: 350px;
  height: 290px;
  justify-content: flex-end;
  align-items: center;
}

.redes span,
.texto,
footer img {
  margin: 10px;
}

.redes span:hover {
  cursor: pointer;
  color: #cf6300 !important;
}

.instagramLogo {
  font-size: 3em;
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Inicio de agregar Noticias */
#root {
  color: rgb(219, 218, 218);
}
#root h4 {
  font-size: 48px;
}


.loca {
  background-image: url("img/voluntarios.png");
}
.volu {
  background-image: url("img/cordoba_lago.png");
}
/*Fin de agregar Noticias*/
.estadisticas_mobile{
  display: none;
}
/*INDEX CELULAR*/
/* Media query para dispositivos móviles */
@media (max-width: 768px) {
  .imagenMontania,
  .imagenCielo {
    background-image: url("img/wallhaven-z8ojpy_1920x1080.png");
  }
  .tituloBanner {
    font-size: 5em;
  }
  .que_es_forestaton {
    padding-bottom: 50px;
    border-bottom: solid 1px gray;
  }
  .que_es_forestaton h1 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 20px;
}
.nav a span{
  display: none;
}

  .cifras_forestaton {
    font-size: 45px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    margin-bottom: 70px;
    width: 100%;
    margin-top: 70px;
  }
  .estadisticas_mobile{
    display: flex;
    flex-direction: column;
  }
  .nav{
    justify-content: space-around;
  }
  .nav a {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 20px;
  }

  .fa-solid fa-arrow-left,
  .fa-solid fa-arrow-right {
    display: none;
  }
  .imagen_posicion {
    display: none;
  }

  .descripcion_logo {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .descripcion_logo p {
    width: auto;
    height: auto;
    margin: 1rem 0;
    font-size: 1em;
    padding: 0.5em;
  }

  .descripcion_logo img {
    width: 50%;
    height: auto;
    margin: 0 auto 1rem auto;
  }
  .imagen_cifras {
    height: 640px;
    display: none;
  }

  footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding: 0 2rem;
  }

  .redes {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .texto {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-content: center;
    text-align: center;
  }

  footer img {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-content: center;
    margin: 0 auto;
    width: 200px;
    height: auto;
  }

  .container h1{
    margin: 0.5em 0 !important;
    font-size: 2.8em !important;
  }
  .container p{
    font-size: 1.8em !important;
  }
  
}



.container {
  margin: 5rem auto 3rem auto;
    text-align: center;
    color: orange;
}

.container *{
  margin:0.2em !important;
}

.container h1{
  font-size: 80px;
    color: #ffb038;
    text-shadow: -2px -2px 0 #fcff52, 2px -2px 0 #fcff52, -2px 2px 0 #fcff52, 2px 2px 0 #fcff52, 0 0 2px #fcff52;
}

.highlight {
  margin: 1em 0; /* Color amarillo para resaltar */
}

.container p{
  color: #ffeac3;
    font-size: 32px;
}

.botonSerParte {
  margin: 1.2em !important;
    border-radius: 30px;
    background-color: #0094ff;
    color: #e7e7e7;
    border: none;
    padding: 30px;
    cursor: pointer;
    font-size: 32px;
}

.botonSerParte:hover {
  opacity: 0.9; /* Cambio sutil al pasar el mouse para dar feedback */
}
.botonSerParte a{
    color: white;
    text-decoration: none;
}