
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Caro:Saca la barra de desplazamiento al ancho, 
  quitar si quieren o les jode en algo, no cambia en negativo nada de lo trabajado si se quita.*/
  font-family: "Roboto", sans-serif;
}


/*TODO todos: Armar parallax Header y armar footer*/
/*TODO CARO PAGINA VOLUNTARIADO: posiblemente ampliar el ancho del contenedor, 
lo que implique realizar un cambio en Javascript. Hay mucho espacio en ancho
desperdiciado y seguramente sea una posible critica al diseño de la pagina*/
.parallax{
  width: 100vw;
  height: 100vh;
}

.Imagen {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  background-size: cover;
  background-position: center;
}

.imagenCielo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background-image: url("img/cielo2.png");
  z-index: 1;
}

.imagenMontania {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/Montania.png");
  z-index: 2;
}


.tituloBanner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Bubblegum Sans", sans-serif;
  z-index: 20;
  font-size: 200px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.tituloBanner:nth-child(2) {
  left: 49%;
  z-index: 80;
  color: #000;
}

.tituloBanner:nth-child(3) {
  z-index: 100;
  color: #FF8B20;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 3.5rem;
  z-index: 5;
  background-color: #121217;
}

.nav a{
  padding:1rem 5rem;
  color: #C7C7C7;
  text-decoration: none;
}

.nav a:nth-child(3){
  color:white;
  background-color: #0094ff;
  border-radius: 20px;
}

.nav a:nth-child(3):hover{
  color:#0094ff;
  background-color: white;
  border-radius: 20px;
}

.nav a:hover{
  color: rgb(235, 235, 235);
  background-color: #000;
}

.contenedorFormVoluntariado {
  width: 360px;
  height: 450px;
  background-color: #121217;
  border-radius: 5px;
  position: relative;
  color: #ba822e;
  overflow: hidden;
}
.cajaVol {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.introduccionform {
  width: 360px;
  height: 450px;
  background-color: #121217;
  border-radius: 5px;
  color: #ba822e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.introduccionform h1{
  font-family: "Roboto", sans-serif;
  color: #ffb038;
  margin-bottom: 20px;
  padding-top: 10px;
  border-top: 1px solid #cf6300;
}
.introduccionform h2{
  font-family: "Roboto", sans-serif;
  color: #ffb038;
  margin-bottom: 20px;
}
.introduccionform p{
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
  border-bottom: 1px solid #cf6300;
}
.contenedorFormVoluntariado h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  color: #ffb038;
}
.contenedorFormVoluntariado form {
  background-color: #121217;
  width: 280px;
  position: absolute;
  top: 100px;
  left: 40px;
  transition: 0.5s;
}
form input {
  width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  border: 0;
  border-bottom: 1px solid #f1aa57;
  outline: none;
  background: transparent;
  color: #f2901e;
}
.btnForm {
  width: 100%;
  margin: 30px auto;
  text-align: center;
  background-color: #121217;
}
form button {
  width: 110px;
  height: 35px;
  margin: 0 10px;
  background: linear-gradient(to right, #f1aa57, #f2901e);
  border-radius: 30px;
  border: 0;
  outline: none;
  color: #20180c;
  cursor: pointer;
}
#form2 {
  left: 450px;
}
#form3 {
  left: 450px;
}
.step-row {
  width: 360px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
}
.step-col {
  width: 120px;
  text-align: center;
  position: relative;
}
#progreso {
  position: absolute;
  height: 100%;
  width: 120px;
  background: linear-gradient(to right, #f1aa57, #f2901e);
  transition: 1s;
}

#form3 input[type="radio"] {
  display: none;
}
#form3 label {
  font-size: 20px;
  border: 1px solid #f2901e;
  border-radius: 30px;
  padding: 10px;
  margin: 8px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
#form3 label:before {
  content: "";
  height: 30px;
  width: 30px;
  border: 2px solid #f2901e;
  border-radius: 50%;
  margin-right: 20px;
}
#form3 input[type="radio"]:checked + label {
  background-color: #f1aa57;
  color: #cf6300;
}
#form3 input[type="radio"]:checked + label:before {
  height: 16px;
  width: 16px;
  border: 8px solid #ff8412;
}
/*Caro:Esta causando un conflicto porque se superpone a todo */
body {
  background-color: #0e0e13;
}

/*Pagina Noticias*/
.noticias_titulo {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 100px;
  color: #ffb038;
  text-shadow: -2px -2px 0 #fcff52, 2px -2px 0 #fcff52, -2px 2px 0 #fcff52,
    2px 2px 0 #fcff52, 0 0 2px #fcff52; /* Ajuste para asegurar el contorno */
}
.buscador {
  margin: 0 auto;
  margin-top: 70px;
  width: max-content;
  height: max-content;
  display: flex;
  background: white;
  border-radius: 20px;
}
.buscador_input {
  width: 550px;
  font-size: xx-large;
  background: #5f9ea000;
  border: solid white;
  outline: none;
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
}
.lupa {
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
  height: 41px;
  opacity: 50%;
}
.noticia {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}
.img_noticia {
  width: 400px;
  height: 400px;
  background: aliceblue;
  overflow: hidden;
  border-radius: 10px;
  border: solid orange;
}
.img_noticia img {
  max-block-size: -webkit-fill-available;
  overflow: hidden;
}
.contenido_noticia {
  display: block;
  /*background: #2a2a2a;*/
  height: 400px;
  width: 650px;
  margin-left: 50px;
}
.titulo_noticia {
  width: 650px;
}
.titulo_noticia h1 {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  color: #ffbe5e;
  padding: 2px;
}
.resumen_noticia {
  /*height: 350px;*/
  width: 650px;
  background: bottom;
}
.resumen_noticia h1 {
  margin-top: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  color: #d0d0d0;
  padding: 2px;
}
.leer_mas {
  font-family: "Roboto", sans-serif;
  font-size: 28px;
  color: #0094ff;
  padding: 2px;
}
.fa-solid,
.fas {
  font-weight: 900;
  overflow: hidden;
  margin-right: 5px;
}
.fecha_noticia {
  margin-top: 10px;
  color: #898989;
  font-family: "Roboto", sans-serif;
  font-size: 28px;
}
.error_noticia {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 100px;
  color: #ff6060;
  margin-top: 100px;
}

#noticia_detalle{
  margin-top: 100px;
}

.noticia_detalles{
  display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.noticia_detalles .img_noticia{

  width: 870px;
    height: 900px;
    background: aliceblue;
    overflow: hidden;
    border: solid orange;
}

.resumen_noticia p{
  margin-top: 50px;
}

.noticia_detalles .resumen_noticia{

  width: 870px;
}

.noticia_header{
  display: flex;
  margin-top: 100px;
  margin-bottom: 35px;
  width: 53%;
  /* flex-direction: row; */
  justify-content: space-evenly;
}
/*Fin Pagina Noticias*/


/*Inicio Pagina LogIn*/
.loginDiv{
  width: 25%;
  margin: 5rem auto;
  color: rgb(233, 232, 232);
}

.loginDiv img{
  margin:0 auto;
  width: 380px;
  height: 290px;
}

.loginDiv label{
  display: block;
}
.loginDiv input{
  width: 20rem;
  height: 1.5rem;
  margin: 2px 0 9px 0;
}

.loginDiv h5 span{
  margin: 9px auto 0 auto;
  font-size: larger;
  color: #f1aa57;
}

.loginDiv h5 span:hover{
  cursor: pointer;
  color: #ba822e;
}
/*Fin Pagina LogIn*/

footer {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
}

.redes {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  overflow: hidden;
}

.texto {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

footer {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  padding: 0 5rem;
}

.border-wrapper {
  position: absolute;
  width: 50%;
  height: 10px;
  top: 0;
  left: 5rem;
  right: 5rem;
  height: 40px;
  border-top: 15px solid rgb(136, 136, 136);
  background-color: rgb(255, 255, 255);
}


.redes {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

.texto {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  justify-content: space-around;
  color: rgb(238, 238, 238);
  margin: 0 1rem;
}

footer img {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
  display: flex;
  width: 350px;
  height: 290px;
  justify-content: flex-end;
  align-items: center;
}

.redes span, .texto, footer img {
  margin: 10px;
}

.redes span:hover{
  cursor:pointer;
  color: #cf6300 !important;
  
}